@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Календарь";
    ViewBag.Header = "Календарь";
}

@{
    string[] nameDay = new string[] { "Воскресенье", "Понедельник", "Вторник", "Среда", "Четверг", "Пятница", "Суббота" };
    string[] nameMonth = new string[] { "Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентабрь", "Октябрь", "Ноябрь", "Декабрь" };
}

<h2>Календарь</h2>

<h3> @nameMonth[@ViewBag.data.Month - 1] @ViewBag.data.Year </h3>

<div>
    <table border="1">
        <tr class="header">
            <td><p>{Day}  </p></td>
            <td><p>{nameDay} </p></td>

            <td><p>{Stat}  </p></td>

            <td><p>{Title}</p></td>
            <td><p>{Message}</p></td>
            <td></td>
        </tr>
        @foreach (DateTime s in @ViewBag.dates)
        {
            if (true)
            {
                <tr>
                    <td><p>@s.Day</p></td>
                    <td><p> @nameDay[(int)s.DayOfWeek] </p></td>

                     @if (s == DateTime.Today)
                     { <td><p> toDay</p></td>}
                     else
                     {<td><p> </p></td>}

                    @foreach (CalcWebMVC.Models.CalcContext cp in @ViewBag.Calc)
                    {
                        if (cp.isEquel(cp.DateKey, s))
                        {
                            <td><p> @cp.Title </p></td>
                            <td><p>@cp.Message </p></td>
                        }
                    }
                </tr>
            }


        }
    </table>
</div>
<div>
    @if (true)
    {
        if (true)
        {
            <a href="/HelloWorld/Calendar?datetime=@ViewBag.innext">Назад</a>
        }
        
        if (true)
        {
            <a href="/HelloWorld/Calendar?datetime=@ViewBag.next">Вперёд</a>
        }
        
    }
</div>
<p><a href="/HelloWorld/Delete">Удалить событие</a></p>
<p><a href="/HelloWorld/Create?day=1">Создать событие</a></p>